/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Imbue:opsz,wght@10..100,100..900&display=swap'); /* Imbue */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Imbue:opsz,wght@10..100,100..900&display=swap'); /*Barlow Condensed*/
/* General style rules */
body {
 overflow-x: hidden;
 width: 100%;
 margin: 0;
 padding: 0;
 min-height: 100vh;
 background: linear-gradient(to bottom , #0A1D56 , #492E87);
 display: flex;
 flex-direction: column;
}

/*Includes borders when calculating box size */
* {
    box-sizing: border-box;  
}

/*Used mainly in index and playagain page */
p {  
    font-family: Imbue;
    color: white;
    font-size: 1.5em;
    text-align: center;
}

/*Displayed at the top of each page */
h1{ 
    font-family: Imbue;
    color: white;
    font-size: 3rem;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
}

/*Displayed as bread text under h1 */
h2{ 
    font-family: Imbue;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}

/* ========= Index Page ========= */

/* Make main element take up any surplus space to push footer down */ 
main { 
    flex: 1 0 auto;
    min-height: 100vh;
}

/* Container to use flex */ 
.indexContainer{ 
    display:flex;
    flex-direction: column;
    align-items: center;
}

/* This is the play button */
.play-box{  
    background: rgb(103,103,103);
    background: radial-gradient(circle, rgba(103,103,103,1) 0%, rgba(0,1,56,1) 100%);
    border: 5px solid #F2F597 ;
    border-radius: 50px;
    justify-content: center;
    color:white;
    padding: 10px;
    font-weight: bold;

}

/* ========= Game ========= */

/* Section containing the whole game */
#game-section {
    display: flex;
    justify-content: center;
}

/* Game container grid */
.game-container {
    justify-content: center;
    width: 80vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
/*Grid items */
.WhatWeighsMore { grid-area: 1 / 3 / 2 / 5; }
.guess-box1 {grid-area: 2 / 1 / 5 / 4; }
.guess-box2 { grid-area: 2 / 4 / 5 / 7; }
.score-box { grid-area: 5 / 3 / 6 / 5; }
.attempts-box { grid-area: 6 / 3 / 7 / 5; }
.object-image1 { grid-area: 3 / 2 / 4 / 3; }
.object-image2 { grid-area: 3 / 5 / 4 / 6; }

/* Left and right guess box */
.guess-box1, .guess-box2{
    font-family: "Barlow Condensed";
    color: rgb(255, 255, 255);
    font-size: 3rem;
    background: radial-gradient(circle, rgba(103,103,103,1) 0%, rgba(0,1,56,1) 100%);
    border: 8px solid #F2F597;
    border-radius: 50px;
    text-align: center;
    z-index: 10;
}
/* Multiplier boxes */
.multiplier-box {
    color: #0a1d5600;
    position: absolute;
}
/* Score under guess boxes */
.score-box {
    background: rgb(103,103,103);
    background: radial-gradient(circle, rgba(103,103,103,1) 0%, rgba(0,1,56,1) 100%);
    border: 5px solid #F2F597 ;
    border-radius: 50px;
    width: 100px;
    margin: auto;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    color:white;
    font-size: 3rem;
    z-index: 10;
}
/* Attempts under guess boxes */
.attempts-box {
    background: rgb(103,103,103);
    background: radial-gradient(circle, rgba(103,103,103,1) 0%, rgba(0,1,56,1) 100%);
    border: 5px solid #F2F597 ;
    border-radius: 50px;
    width: auto;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    color:white;
    font-size: 3rem;
    z-index: 10;
    align-items: center;
    height: 50%;
    font-family: "Barlow Condensed";
}
/* Text inside attempts-box*/
.attempts-box p {
    margin-right: 1em;
}
/* Animation when player updates their score*/
/* Makes the score-box jump */
.score-box-animation {
    animation: score-box 0.5s linear;
}

@keyframes score-box{
    0%{ transform: translateY(0px) scale(1);}
    40%{ transform: translateY(-30px) scale(1);}
    60%{ transform: translateY(-45px) scale(1.4);}
    65%{ transform: translateY(-30px) scale(1);}
    80%{ transform: translateY(10px) scale(0.9);}
    100%{ transform: translateY(0px) scale(1);}
}

/* Animation when player gets correct score*/
/* Text turns green*/
.score-box-correct {
    text-shadow: rgb(137, 254, 108) 1px 0 10px;
    color: rgb(85, 255, 80);
    border: 5px solid #1aff00 ;
    font-size: 3.2rem;
    animation: score-box 0.3s linear;
}

/* Animation when player gets incorrect score*/
/* Text turns red*/
.score-box-incorrect {
    text-shadow: rgb(247, 79, 79) 1px 0 10px;
    color: rgb(255, 71, 71);
    border: 5px solid #ca2222 ;
    font-size: 3.2rem;
    animation: score-box 0.3s linear;
}

/* The objects images made sure to fit inside the guess boxes*/
.object-image1 {
    margin: auto;
    width: 200px;
    height: 200px;
    object-fit: cover;
    z-index: 11;
}

.object-image2 {
    margin: auto;
    width: 200px;
    height: 200px;
    object-fit: cover;
    z-index: 11;
    }

/* Footer being pushed down by Main*/
footer {
    margin-top: 10px;
    text-align: center;
    color: white;
    font-size: 1rem;
    background-color: #0A1D56;
}

/* Biggest container to hold the stars*/
/* Takes up the whole screen and hides any overflow*/
#score-star-container {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
}

/* The div that contains the bubble image
uses flex and wrap to allow you to see many
scorestars at once */
.score-star {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
}

/* the image inside the span
opacity 50% to give it a bubble effect*/
.score-star img{
    opacity: 50%;
}

/* the span that contains the image
the span uses styles that aren't seen but they're here
in case we wan't to remove the image and create bubbles with css instead*/
.score-star span {
    position: relative;
    border-radius: 50%;
    background-color: #f0f56c11;
    box-shadow: 0 0 0 10px #f0f48800,
    0 0 50px #f6f99911,
    0 0 90px #f6f9b111;
    animation: score-star 16s linear infinite;
    animation-duration: calc(200s / var(--duration)); /* Changes the animation duration 
    depending on the --duration variable that are set in the game.html on each span*/
}

/* Every even span 
uses styles that aren't seen but they're here
in case we wan't to remove the image and create bubbles with css instead*/
.score-star span:nth-child(even){ /* Different color for even spans */
    background-color: #37b6b626;
    box-shadow: 0 0 0 10px #37b6b615,
    0 0 50px #6acfcf11,
    0 0 90px #9adfdf11;
}

/* This animations transports the spans from the bottom to the top
 while moving slightly left and right
 and increasing in size as they reach the top
 when reaching the top the bubble explodes and resets at the bottom*/
@keyframes score-star{
    0%{ transform: translateX(0vw) translateY(100vh) scale(0)}
    12.5%{ transform: translateX(2vw) translateY(87.5vh) scale(0.125)}
    25%{ transform: translateX(0vw) translateY(74vh) scale(0.25)}
    37.5%{ transform: translateX(-2vw) translateY(62.5vh) scale(0.375)}
    50%{ transform: translateX(0vw)translateY(50vh) scale(0.5)}
    62.5%{ transform: translateX(2vw) translateY(37.5vh) scale(0.625)}
    75%{ transform: translateX(0) translateY(25vh) scale(0.75)}
    87.5%{ transform: translateX(-2vw)translateY(12.5vh) scale(0.875)}
    99.8% {transform: translateX(0vw)translateY(-5vh) scale(0.875)}
    99.9% {transform: translateX(0%)translateY(-5vh) scale(1.3)}
    100%{ transform: translateX(0vw) translateY(-5vh) scale(0)}
}


/* Used to hide the score-stars */
.hidden { 
    opacity: 0;
    transition: 0.1s linear;
    animation: bubble-pop 0.1s linear !important;
}

/* This animation turns the bubbles invisible */
@keyframes bubble-pop {
    0% {
        opacity: 1;
    }
    1% {
        opacity: 0; /*Turning invisible right at the start */
    }
    100% {
        opacity: 0;
    }
}

/* Used to showe the score-stars */
.shown {
    opacity: 1;
    transition: 0.5s linear;
    z-index: 3;
}

/* Media query: smaller phones(280px and up) */
/* Game container takes up all the screen */
/* 1-2 rem fonts */
/* Images 80x80 pixels */
@media screen and (min-width: 280px){
    main {
        width: 100vw;
    }
    .game-container {
        width: 100%;
        height: 100vh;
        }
    .h1{
        font-size: 2rem;
        padding: 0;
    }
    .guess-box2, .guess-box1 {
        padding: 10px;
        font-size: 2rem;
    }
    .object-image1, .object-image2{
        width: 80px;
        height: 80px;
    }
    .score-box{
        font-size: 1rem;
    }
    .attempts-box{
        font-size: 1rem;
    }
}

/* Media query: Large phones and landscape phones(412px and up) */
/* Game container takes up all the screen */
/* 1-3 rem fonts */
/* Images 140x140 pixels */
@media screen and (min-width: 411px){
    main {
        width: 100vw;
    }
    .game-container {
        width: 100%;
        height: 100vh;
    }
    .h1{
        font-size: 3rem;
        padding: 0;
    }
    .guess-box1{
        font-size: 2rem;
        justify-content: end;
    }
    .guess-box2{
        font-size: 2rem;
        justify-content: start;
    }
    .object-image1, .object-image2{
        width: 140px;
        height: 140px;
    }
    .score-box{
        font-size: 2rem;
    }
    .attempts-box{
        font-size: 1rem;
        top: -12000px;
    }
}


/* Media query: Tablets and larger (768px and up) */
/* Game container takes up all the screen */
/* 1.8-3 rem fonts */
/* Images 200x200 pixels */
/* guess-box height 80% */
@media screen and (min-width: 768px){ 

    .h1{
        font-size: 4rem;
        padding: 0;
    }
    .guess-box1{
        height: 80%;
        font-size: 3rem;
        justify-content: end;
    }
    .guess-box2{
        height: 80%;
        font-size: 3rem;
        justify-content: start;
    }
    .object-image1, .object-image2{
        height: 200px;
        width: 200px;
    }
    .score-box{
        margin-top: -60px;
    }
    .attempts-box{
        margin-top: -60px;
        font-size: 1.8rem;
    }
}
  
/* Media query: Laptops and larger (992px and up) */
/* score-box margin change*/

@media screen and (min-width: 992px) {
    .score-box{
        margin-top: -65px;
    }
}

/* Media query: Laptops and larger (1024px and up) */
/* Game container takes up 90% of the screen width*/
/* scorebox margin change */

@media screen and (min-width: 1024px) {
    .game-container {
        width: 90%;
    }
    .score-box{
        margin-top: -60px;
    }
}

/* Media query: Laptops and larger (1440px and up) */
/* Game container takes up 80% of the screen width*/
/* Moving the header and boxes down */
@media screen and (min-width: 1440px) {
    .game-container {
        width: 80%;
    }
    .attempts-box{
        font-size: 2rem;
    }
    .play-box{
        font-size: 2rem;
    }
    h1 {
        margin-top: 50px;
    }
    .guess-box1, .guess-box2 {
        margin-top: 30px;
    }
}

/* Media query: Laptops and larger (2560px and up) */
/* Game container takes up 60% of the screen width*/
/* Images now 250x250 pixels */
/*attempts boxs bigger font*/
@media screen and (min-width: 2560px) {
    .game-container {
        width: 60%;
    }

    .object-image1, .object-image2{
        width: 250px;
        height: 250px;
    }
    .score-box{
        margin-top: -120px;
    }
    .attempts-box{
        font-size: 2.5rem;
    }
    
    h1 {
        margin-top: 50px;
    }
    .guess-box1, .guess-box2 {
        margin-top: -10px;
    }
}